daemonize yes
pidfile /run/redis/redis-{{REDIS_PORT}}.pid
bind 0.0.0.0
port 6379
tcp-backlog 511
timeout 10
tcp-keepalive 300
loglevel notice
logfile /var/log/redis/redis-{{REDIS_PORT}}.log
databases 16
save 900 1 300 10 60 10000
maxclients 10000
maxmemory 0
maxmemory-policy noeviction
maxmemory-samples 5

stop-writes-on-bgsave-error no
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir /data/redis

replica-serve-stale-data yes
replica-read-only yes

repl-backlog-size 1073741824
repl-backlog-ttl 3600
repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no
repl-timeout 60
slave-priority 100

appendonly no
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
lua-time-limit 5000

slowlog-log-slower-than 10000
slowlog-max-len 128
latency-monitor-threshold 0
notify-keyspace-events ""
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
list-max-ziplist-size -2
list-compress-depth 0
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000

activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 512mb 512mb 0
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
